TIMEZONE=Asia/Bangkok
N8N_CHAT_URL='http://localhost:5678/webhook/10106cc5-e735-4399-b6bf-9e0f0dd3f89e/chat'
N8N_PATIENT_FORM_CHAT_URL='http://localhost:5678/webhook/0efe5c69-6ed5-4345-99d0-1431beec6033/chat'
N8N_PATIENT_FORM_WEBHOOK_URL='http://localhost:5678/webhook/patient-form'
GOOGLE_API_KEY=xxxxxxx
